{
  "stores": [
    {
      "path": "/root/.android/debug.keystore",
      "properties": {
        "keyAlias": "androiddebugkey",
        "keyPassword": "android",
        "storePassword": "android"
      }
    }
  ]
}
